{% load otree %}
{% load otree static %}

<div class="card bg-light m-2 p-1">
    <div class="card-body">
        <h3>
            Welcome! 
        </h3>
        <p>
            In this experiment, we are trying to test how teachers evaluate students - and what factors play a role in their decisions. To do this, we use data from the Early Childhood Longitudinal Study: Kindergarten Class of 2010-11 (hereafter ECLS). 
        </p>
        <br>
        <p>
            For this experiment, we randomly sampled 25 students from the ECLS, and generated classroom profiles for them based on information about them from the data. The profiles reflect the type of information a class teacher would typically have about their students. These classroom profiles are computer-generated representations of the students based on their information from the data.
            <br><br>You have been recruited to act as a first-grade teacher in this experiment. You will be assigned to a "classroom," which is the random sample described above. These 25 students have recently entered elementary school. You will see your "classroom" on the next screen, which shows you a computer-generated representation of your students. You are required to recommend some students for an accelerated elementary school math track, by ranking the students on the basis of your predictions about their performance in an end-of-term math test. You are required to assign these ranks twice, once at the beginning of the year and once after a mid-term assessment.
            <br><br>Your payment will be based on how close your ranking is to the student’s true ranking on the basis of the end-of-term test. Specifically, for each ranking task, we will choose one student at random, and compute the difference between the true rank (R ) and the rank you assign to them (r ). As a secondary task, we require you to guess the group averages of test scores on the mid-term assessment- once without knowing the scores of the 25 students in your classroom, and once after they have been released. For each average prediction task, we will choose one group at random, and compute the difference between the true average (A ) and the average predicted by you (a ).
            Finally, you will take a time-bound test yourself. We will record the total time you take on the test (t ).
            <br><br>
            Your total payoff will be computed as follows:
            <br>
            <img src="{% static 'mathClass_equation.png' %}" class="img-fluid" alt="Responsive image">
            
        </p>
         <p>
            The ECLS is a longitudinal dataset commissioned by the National Center 
            for Education Statistics (NCES), that tracks a nationally representative 
            sample of over 18000 children from kindergarten through fifth grade. 
            The sample of students was chosen from the incoming kindergarten cohort of 
            2010-11, for both public and private schools. The study also incorporates 
            information on the children's teachers, parents, and care-providers. 
            Information on children is collected through a combination of direct 
            cognitive assessments, detailed questionnaires for children, their teachers, 
            their parents and care-providers, and from school-level administrative data. 
            The variables cover a wide scope of topics, from children’s cognitive abilities 
            to indicators of social, physical, and psychological development. It also includes
            subjective and objective evaluations of each student, 
            by different teachers through the child's progress from kindergarten to fifth grade.
        </p>
        <!-- Button trigger modal -->
        <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            More on ELCS
        </button>
    
        
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">ECLS</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                       
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div> -->
        
    
    </div>  
</div>