{% extends "global/Page.html" %}
{% load otree %}
{% load otree static %}


{% block content %}
    <style>
        .otree-body {
            max-width: 80vw;
            max-height: 100vh;
        }
        .wrong-answer {
            display: block;
            opacity: 1;
            position: absolute;
            width: 300px;
            left: 50%;
            margin-left: -150px;
            margin-top: -245px;
            font-size: 300px;
            font-weight: 700;
            color: red;
            opacity: 0;
        }
        .temp-box {
            background-color: lightgrey;
            width: 30%;
            border: 10px solid green;
            padding: 1%;
            margin: 1%;
            text-align: left;
        }
        
        .container {
            flex-wrap: nowrap;
            justify-content: space-evenly;
        }

        .box-one {
            /* background-color: gray; */
            min-width: 100%

        }
        .box-text {
            list-style: none;
            padding-left: 0;
            float: left;
        }
        li {
            padding-left: 0;
        }
        .first-row {
            flex-wrap: wrap;
        }
        .img-box { 
            width: 50vh;
            height: 50vh;
        }
    </style>
    <div class="container-fluid box-one card bg-light m-2 p-1">
       
        <div class="container m-2 p-1">
                <!-- card bg-light m-3 w-1000 -->
            <h3>
                Your Students 
            </h3>
            <p>
                Let’s move on to the first task. The flashcards below depict profiles of students in your classroom. These students have recently entered first grade, and you are required to recommend them for an accelerated elementary school mathematics track. Your recommendation is based on your prediction of their relative performance on a standardized end-of-year screening test, designed to test conceptual knowledge, number sense, and simple operations. Can you rank these students by who you believe is most likely to perform well in the accelerated track? Your payment depends on how close your ranking is to the actual ranking on these students on the screening test.
            </p>
            <script>
                function gfg_check_duplicates(e) {
                    const alphabet = ["A","B","C","D","E","F","G","H","I","J",
                    "K","L","M","N","O","P","Q","R","S","T","U","V","W","X",
                    "Y","Z"];
                    var myarray = [];
                    for (i = 0; i < 25; i++) { 
                        myarray[i] =
                         document.getElementById(alphabet[i]).value;
                     }
                    const hasDuplicatedItems = function (myarray) {
                        const obj = {};
                        const numItems = inputArray.length;
                        const duplicateRemoved = [];

                        for (const i in inputArray) {
                            obj[inputArray[i]] = 0;
                        }

                        for (const i in obj) {
                            duplicateRemoved.push(obj[i]);
                        }

                        return duplicateRemoved.length === numItems;
                    };
                    // if (hasDuplicatedItems) {
                    //     // e.preventDefault();
                    //     // alert('Duplicate Ranks!')
                    //     return <div>hi</div>
                    // }
                    // console.log(ranks);
                    // console.log(myarray);
                    }
                    
                //  var myarray = [];
                //  for (i = 0; i < 4; i++) {
                //   document.getElementById("status" + i).innerHTML = "";
                //   myarray[i] =
                //   document.getElementById("gfg_field" + i).value;
                //      }
                //  for (i = 0; i < 4; i++) {
                //   var flag = false;
                //     for (j = 0; j < 4; j++) {
                //       if (i == j || myarray[i] == "" || myarray[j] == "") 
                //          continue;
                //       if (myarray[i] == myarray[j]) {
                //          flag = true;
                //        document.getElementById("status" + i).innerHTML += 
                //          "<br>Its identical to the phone number " + (j + 1);
                //                     }
                //                 }
                //       if (flag == false) 
                //         document.getElementById("status" + i).innerHTML = "";
                //             }
                //         }
            </script>
            <div class="d-flex flex-column">
                <div class = "first-row d-flex justify-content-around"> <!--- first row -->

                    {% for x in templist  %}
                        <div class="temp-box d-flex flex-column w-25">
                            <div class="p-2">
                                <p class="text-center">{{ x.id }}</p>
                            </div>
                            <div class="mx-auto d-block">
                                <img src="{% static 'stickman.jpeg' %}" class="img-thumbnail {{x.race}} {{x.gender}}"/>
                            </div>
                            <div class="">
                                <ul class = "">
                                    <!-- <li>{{ x.id }}</li> -->
                                    <li>{{ x.parent1 }}</li>
                                    <li>{{ x.parent2 }}</li>
                                    <li>{{ x.quality1 }}</li>
                                    <li>{{ x.quality2 }}</li>
                                    <li>{{ x.pet }}</li>
                                    <li>
                                        <form class="form-inline">
                                            <!-- <div class="form-group mx-sm-5 mb-2">
                                              <label for="inputPassword2" class="sr-only">Rank</label>
                                              <input class="form-control" id="{{x.id}}" placeholder="Rank">
                                            </div> -->
                                            
                                              <label for="inputPassword2" class="sr-only">Rank</label>
                                              <input class="form-control" id="{{x.id}}" placeholder="Rank" min='1' max='25' type="number" oninput="gfg_check_duplicates()">
                                            
                                        </form>
                                    </li>
                                </ul>
                                
                            </div>
                        </div>
                    {% endfor %}
                    <script>

                        var fb = document.getElementsByClassName('female black'),
                        fw = document.getElementsByClassName('female white'),
                        fh = document.getElementsByClassName('female hispanic'),
                        fo = document.getElementsByClassName('female other'),
                        fa = document.getElementsByClassName('female asian'),
                        mw = document.getElementsByClassName('male white'),
                        mb = document.getElementsByClassName('male black'),
                        mh = document.getElementsByClassName('male hispanic'),
                        mo = document.getElementsByClassName('male other')
                        ma = document.getElementsByClassName('male asian');


                        for (let i = 0; i < fw.length; i++) {
                            let temp = '/static/female/white/' + i + '.PNG'
                            // console.log(temp)
                            // document.getElementsByClassName('female white').src=temp;
                            fw[i].src = temp
                        }

                        for (let i = 0; i < fb.length; i++) {
                            let temp = '/static/female/black/' + i + '.PNG'
                            // console.log(temp)
                            fb[i].src = temp
                        }

                        for (let i = 0; i < fh.length; i++) {
                            let temp = '/static/female/hispanic/' + i + '.PNG'
                            // console.log(temp)
                            fh[i].src = temp
                        }

                        for (let i = 0; i < fo.length; i++) {
                            let temp = '/static/female/other/' + i + '.PNG'
                            // console.log(temp)
                            fo[i].src = temp
                        }

                        for (let i = 0; i < fa.length; i++) {
                            let temp = '/static/female/asian/' + i + '.PNG'
                            // console.log(temp)
                            fa[i].src = temp
                        }

                        for (let i = 0; i < mw.length; i++) {
                            let temp = '/static/male/white/' + i + '.PNG'
                            // console.log(temp)
                            // document.getElementsByClassName('male white').src=temp;
                            mw[i].src = temp
                        }

                        for (let i = 0; i < mb.length; i++) {
                            let temp = '/static/male/black/' + i + '.PNG'
                            // console.log(temp)
                            mb[i].src = temp
                        }

                        for (let i = 0; i < mh.length; i++) {
                            let temp = '/static/male/hispanic/' + i + '.PNG'
                            // console.log(temp)
                            mh[i].src = temp
                        }

                        for (let i = 0; i < mo.length; i++) {
                            let temp = '/static/male/other/' + i + '.PNG'
                            // console.log(temp)
                            mo[i].src = temp
                        }

                        for (let i = 0; i < ma.length; i++) {
                            let temp = '/static/male/asian/' + i + '.PNG'
                            // console.log(temp)
                            ma[i].src = temp
                        }

                    </script>
                    
            </div>

            
            <p>{% next_button %}</p>

            <input type="hidden" id="ranks" name="ranks">
            {{ form.ranks.errors }}

            <script>
                // This script runs when next button is pressed
                // window.addEventListener(onchange, function() {
                //     const idlist = "{{ idlist|safe }}".split(",");
                //     var ranks = {};
                //     for (var i = 0; i < idlist.length; i++) {
                //         var id = idlist[i];
                //         answer = document.getElementById(id).value;
                //         ranks[id] = answer;
                //     }
                //     const hasDuplicatedItems = function (ranks) {
                //         const obj = {};
                //         const numItems = inputArray.length;
                //         const duplicateRemoved = [];

                //         for (const i in inputArray) {
                //             obj[inputArray[i]] = 0;
                //         }

                //         for (const i in obj) {
                //             duplicateRemoved.push(obj[i]);
                //         }

                //         return duplicateRemoved.length === numItems;
                //     };
                //     if (hasDuplicatedItems) {
                //         alert('Duplicate Ranks!')
                //     }
                // })
                window.addEventListener('submit', function(e) {
                    // e.preventDefault()
                    const idlist = "{{ idlist|safe }}".split(",");
                    var ranks = {};
                    for (var i = 0; i < idlist.length; i++) {
                        var id = idlist[i];
                        answer = document.getElementById(id).value;
                        ranks[id] = answer;
                    }
                    const hasDuplicatedItems = function (ranks) {
                        const obj = {};
                        const numItems = inputArray.length;
                        const duplicateRemoved = [];

                        for (const i in inputArray) {
                            obj[inputArray[i]] = 0;
                        }

                        for (const i in obj) {
                            duplicateRemoved.push(obj[i]);
                        }

                        return duplicateRemoved.length === numItems;
                    };
                    // if (hasDuplicatedItems) {
                    //     alert('Duplicate Ranks!')
                    // }
                    // console.log(ranks);
                    document.getElementById('ranks').value = JSON.stringify(ranks);
                    
                    
                })
                // var frm = document.querySelector('ranks');
                // var inputs = frm.querySelectorAll('input[type=text]');

                // frm.addEventListener('submit', function(e) {
                //     e.preventDefault();
                //     var classArr = [];

                //     for(var i = 0; i < inputs.length; i++) {
                //         if(classArr.indexOf(inputs[i].value) != -1) {
                //             inputs[i].style.backgroundColor = "red";
                //             return false;
                //         }
                //         else
                //             classArr.push(inputs[i].value);
                //     }
                //     frm.submit();
                // });
            </script>
        </div>
    </div>
    
    
{% endblock %}

