{% extends "global/Page.html" %}
{% load otree %}
{% load otree static %}


{% block content %}
    <style>
        .otree-body {
            max-width: 80vw;
            max-height: 100vh;
        }
        .wrong-answer {
            display: block;
            opacity: 1;
            position: absolute;
            width: 300px;
            left: 50%;
            margin-left: -150px;
            margin-top: -245px;
            font-size: 300px;
            font-weight: 700;
            color: red;
            opacity: 0;
        }
        .temp-box {
            background-color: lightgrey;
            width: 30%;
            border: 10px solid green;
            padding: 1%;
            margin: 1%;
            text-align: left;
        }
        
        .container {
            flex-wrap: nowrap;
            justify-content: space-evenly;
        }

        .box-one {
            /* background-color: gray; */
            min-width: 100%

        }
        .box-text {
            list-style: none;
            padding-left: 0;
            float: left;
        }
        li {
            padding-left: 0;
        }
        .first-row {
            flex-wrap: wrap;
        }
        .img-box { 
            width: 150px;
            height: 150px;
        }
    </style>
    <div class="container">
       
        <div class="row">
                <!-- card bg-light m-3 w-1000 -->
            <h3>
                Ranking Your Students
            </h3>
            <p>
                Here's how each of your students performed on the mid-term assessment. Given this performance, please indicate your best guess of each student’s rank on the end-of-year assessment. Again, your payment depends on how close your ranking is to the true ranking.
            </p>
        </div>
        <div class="row">
            <div class="d-flex flex-column">
                <div class = "first-row d-flex"> <!--- first row -->

                    {% for x in templist  %}
                        <div class="card" style="width: 13rem;">
                            <div class="p-2">
                                <p class="text-center">{{ x.id }}</p>
                            </div>
                            <div class="mx-auto d-block ">
                                <img src="{% static 'stickman.jpeg' %}" class=" img-box {{x.race}} {{x.gender}}"/>
                            </div>
                            <div class="">
                                <ul class="list-group list-group-flush " style="font-size:12px">
                                    <li class="list-group-item">{{ x.parent1 }}</li>
                                    <li class="list-group-item">{{ x.parent2 }}</li>
                                    <li class="list-group-item">{{ x.quality1 }}</li>
                                    <li class="list-group-item">{{ x.quality2 }}</li>
                                    <li class="list-group-item">{{ x.pet }}</li>
                                    <li class="list-group-item"> Fall Math score: {{ x.fall_score }}</li>
                                    <li class="list-group-item">
                                        <form class="">
                                            <label for="inputPassword2" class="sr-only">Rank</label>
                                            <input class="form-control" id="{{x.id}}" placeholder="Rank" min='1' max='25' type="number" required>
                                      </form>
                                    </li>
                                </ul>
                                
                            </div>
                        </div>
                    {% endfor %}
                    <script>

                        var fb = document.getElementsByClassName('female black'),
                        fw = document.getElementsByClassName('female white'),
                        fh = document.getElementsByClassName('female hispanic'),
                        fo = document.getElementsByClassName('female other'),
                        fa = document.getElementsByClassName('female asian'),
                        mw = document.getElementsByClassName('male white'),
                        mb = document.getElementsByClassName('male black'),
                        mh = document.getElementsByClassName('male hispanic'),
                        mo = document.getElementsByClassName('male other')
                        ma = document.getElementsByClassName('male asian');


                        for (let i = 0; i < fw.length; i++) {
                            let temp = '/static/female/white/' + i + '.PNG'
                            console.log(temp)
                            // document.getElementsByClassName('female white').src=temp;
                            fw[i].src = temp
                        }

                        for (let i = 0; i < fb.length; i++) {
                            let temp = '/static/female/black/' + i + '.PNG'
                            console.log(temp)
                            fb[i].src = temp
                        }

                        for (let i = 0; i < fh.length; i++) {
                            let temp = '/static/female/hispanic/' + i + '.PNG'
                            console.log(temp)
                            fh[i].src = temp
                        }

                        for (let i = 0; i < fo.length; i++) {
                            let temp = '/static/female/other/' + i + '.PNG'
                            console.log(temp)
                            fo[i].src = temp
                        }

                        for (let i = 0; i < fa.length; i++) {
                            let temp = '/static/female/asian/' + i + '.PNG'
                            console.log(temp)
                            fa[i].src = temp
                        }

                        for (let i = 0; i < mw.length; i++) {
                            let temp = '/static/male/white/' + i + '.PNG'
                            console.log(temp)
                            // document.getElementsByClassName('male white').src=temp;
                            mw[i].src = temp
                        }

                        for (let i = 0; i < mb.length; i++) {
                            let temp = '/static/male/black/' + i + '.PNG'
                            console.log(temp)
                            mb[i].src = temp
                        }

                        for (let i = 0; i < mh.length; i++) {
                            let temp = '/static/male/hispanic/' + i + '.PNG'
                            console.log(temp)
                            mh[i].src = temp
                        }

                        for (let i = 0; i < mo.length; i++) {
                            let temp = '/static/male/other/' + i + '.PNG'
                            console.log(temp)
                            mo[i].src = temp
                        }

                        for (let i = 0; i < ma.length; i++) {
                            let temp = '/static/male/asian/' + i + '.PNG'
                            console.log(temp)
                            ma[i].src = temp
                        }

                    </script>
                    
            </div>

            
            <p>{% next_button %}</p>

            <input type="hidden" id="ranks_spring" name="ranks_spring">
            {{ form.ranks_spring.errors }}

            <script>
                // This script runs when next button is pressed
                window.addEventListener('submit', function() {
                    
                    const idlist = "{{ idlist|safe }}".split(",");
                    var ranks_spring = {};
                    for (var i = 0; i < idlist.length; i++) {
                        var id = idlist[i];
                        answer = document.getElementById(id).value;
                        ranks_spring[id] = answer;
                    }
                    document.getElementById('ranks_spring').value = JSON.stringify(ranks_spring);
                })
            </script>
        </div>
    </div>
    
    
{% endblock %}

