
{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Student Averages
{% endblock %}

{% block content %}

    <div class="card bg-light m-3">
        <div class="card-body">
            <div> 
                <h3>
                    Student Averages
                </h3>
                <p>
                    We are four months into first grade, and your 25 students have recently taken a standardized mid-term test, administered nationally for a representative sample of over 4000 students (under the Early Childhood Longitudinal Study).
                    <br>We’re in the process of collecting the scores for your 25 students. We have some summary statistics for the entire sample: 
                    <br><br>Mean: 51.64/100
                    <br>Median: 51/100
                    <br>5% to 95% Range: 31/100-71/100
                    <br><br>In the meanwhile, let us play a guessing game. Please guess the average scores for each of the following groups in those 4000+ students (not just for your classroom). You are paid according to how close your guesses are to the actual average for each group:
                    
                </p>
            </div>
            <div class="">
                {% for name in fields %}
                    <div class="form-group">
                        <form>
                            <label for="inputPassword2" class="sr-only">{{ name }}</label>
                            <input type="text" class="form-control" id="{{ name }}" placeholder="{{ name }}" required>
                        </form>
                    </div>
                {% endfor %}
            </div>
            <input type="hidden" id="scores" name="scores">
            {{ form.scores.errors }}

            <script>
                // This script runs when next button is pressed
                window.addEventListener('submit', function() {
                    const fieldlist = "{{ fieldlist|safe }}".split(",");
                    var scores = {};
                    for (var i = 0; i < fieldlist.length; i++) {
                        var name = fieldlist[i];
                        answer = document.getElementById(name).value;
                        scores[name] = answer;
                    }
                    document.getElementById('scores').value = JSON.stringify(scores);
                })
            </script>
            <p>{% next_button %}</p>
        </div>
    </div>

    <!-- {% include Constants.bg_template %} -->

{% endblock %}


