
{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Student Averages
{% endblock %}

{% block content %}

    <div class="card bg-light m-3">
        <div class="card-body">
            <div> 
                <h3>
                    Student Averages
                </h3>
                <p>
                    The results are in! We’re just in the process of collecting the 25 scores for your classroom from the entire roster of around 12000
                    students. The average score across all test-takers, along with some other statistics- is given below:
                    <br>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Mean</th>
                            <th scope="col">SD</th>
                            <th scope="col">Min</th>
                            <th scope="col">Max</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Scaled Math Score</th>
                            <td>55.77642</td>
                            <td>12.48759</td>
                            <td>0</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <th scope="row">Number of students</th>
                            <td>12233</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                    In the meanwhile, let us play a guessing game. Please guess the average scores for each of the following groups in those 12233 students
                    (not just for your classroom). You are paid according to how close your guesses are to the actual average for each group: 
                </p>
            </div>
            <div>
                <form class="form-inline">
                    <label class="sr-only" for="inlineFormInputName2">Name</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Hispanic students">

                    <label class="sr-only" for="inlineFormInputName2">Asian students</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Asian students">

                    <label class="sr-only" for="inlineFormInputName2">Girls</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Girls">

                    <label class="sr-only" for="inlineFormInputName2">Dog owners</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Dog owners">

                    <label class="sr-only" for="inlineFormInputName2">Students with both parents working</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Students with both parents working">

                    <label class="sr-only" for="inlineFormInputName2">White students</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="White students">

                    <label class="sr-only" for="inlineFormInputName2">Extroverted students</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Extroverted students">

                    <label class="sr-only" for="inlineFormInputName2">Boys</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Boys">

                    <label class="sr-only" for="inlineFormInputName2">Unruly students</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Unruly students">

                    <label class="sr-only" for="inlineFormInputName2">Cat owners</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Cat owners">

                </form>
            </div>
            <p>{% next_button %}</p>
        </div>
    </div>

    {% include Constants.bg_template %}

{% endblock %}


